In [1]:
# publicDataReader 설치하기
# !pip install PublicDataReader --upgrade

In [1]:
# 시군구 코드 알아내기
import PublicDataReader as pdr
sigungu_name = "천안시 서북구"
bdong_name = "백석동"
code = pdr.code_bdong()
code.loc[(code['시군구명'].str.contains(sigungu_name, na=False)) &
         (code['읍면동명']==bdong_name)]

      시도코드   시도명  시군구코드     시군구명       법정동코드 읍면동명  동리명      생성일자 말소일자
17780   44  충청남도  44133  천안시 서북구  4413310300  백석동  NaN  20080623  NaN

In [2]:
pdr.code_hdong_bdong()

,시도코드,시도명,시군구코드,시군구명,행정동코드,읍면동명,법정동코드,동리명,생성일자,말소일자
0,11,서울특별시,11000,NaN,1100000000,NaN,1100000000,서울특별시,19880423,NaN
1,11,서울특별시,11110,종로구,1111000000,NaN,1111000000,종로구,19880423,NaN
2,11,서울특별시,11110,종로구,1111000000,NaN,1111090100,창신1동,19880423,19880423
3,11,서울특별시,11110,종로구,1111000000,NaN,1111090200,창신2동,19880423,19880423
4,11,서울특별시,11110,종로구,1111000000,NaN,1111090300,창신3동,19880423,19880423
...,...,...,...,...,...,...,...,...,...,...
51522,50,제주특별자치도,50130,서귀포시,5013061000,중문동,5013011400,대포동,20060701,NaN
51523,50,제주특별자치도,50130,서귀포시,5013061000,중문동,5013011800,하원동,20060701,NaN
51524,50,제주특별자치도,50130,서귀포시,5013062000,예래동,5013011900,색달동,20060701,NaN
51525,50,제주특별자치도,50130,서귀포시,5013062000,예래동,5013012000,상예동,20060701,NaN
51526,50,제주특별자치도,50130,서귀포시,5013062000,예래동,5013012100,하예동,20060701,NaN

In [3]:
# 라이브러리 불러오기
import requests
from bs4 import BeautifulSoup
import pandas as pd
import pprint
import bs4

In [4]:
# 요청변수 지정
url = 'http://apis.data.go.kr/1613000/BldRgstService_v2/getBrTitleInfo?'
sigungu = 'sigunguCd=44133'
bjdong = '&bjdongCd=10300'
numofrows = '&numOfRows=1000'
servicekey = '&ServiceKey=UJTS9gkwTNmntwhu0ZAqujfqoUAk%2B%2Byzanzu4PXR0%2BjFgpjjwa484p4FNbK10R6dNdyt7DQ1HeuyPt9oUc2cAA%3D%3D'

In [6]:
# url 받아오기
result = requests.get(url+sigungu+bjdong+numofrows+"&pageNo=1"+ servicekey)

In [7]:
content = result.text

In [8]:
pp = pprint.PrettyPrinter(indent=4)

In [9]:
soup = bs4.BeautifulSoup(content, 'lxml-xml')
rows = soup.findAll("item")

In [10]:
row_list = []
name_list = []
value_list = []

for i in range(0, len(rows)):
    columns = rows[i].find_all()
    for j in range(0, len(columns)):
        if i == 0:
            name_list.append(columns[j].name)
        value_list.append(columns[j].text)
    row_list.append(value_list)
    value_list = []

In [11]:
df = pd.DataFrame(row_list, columns=name_list)
df

,archArea,atchBldArea,atchBldCnt,bcRat,bjdongCd,bldNm,block,bun,bylotCnt,crtnDay,...,splotNm,stcnsDay,strctCd,strctCdNm,totArea,totDongTotArea,ugrndFlrCnt,useAprDay,vlRat,vlRatEstmTotArea
0,321.17,38.43,1,0,10300,,,0001,0,20170324,...,,,12,블록구조,321.17,321.17,0,19850622,0,321.17
1,262.84,0,0,28.78,10300,,,0007,1,20220728,...,,20021125,32,경량철골구조,262.84,262.84,0,20030319,28.78,262.84
2,127.55,0,0,30.08,10300,,,0007,0,20200826,...,,20051007,11,벽돌구조,127.55,127.55,0,20060103,30.08,127.55
3,36,0,0,0,10300,,,0008,0,20170214,...,,,19,기타조적구조,36,36,0,19590612,0,36
4,789.2,0,0,0,10300,코오롱오토모티브 천안 볼보,,0008,3,20201030,...,,20160721,21,철근콘크리트구조,1893.31,1893.31,0,20170120,0,1790.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,564.73,0,0,0,10300,호반리젠시빌,,0909,0,20190530,...,,,21,철근콘크리트구조,7801.348,7801.348,1,20031208,0,7341.67
996,564.73,0,0,0,10300,호반리젠시빌,,0909,0,20190530,...,,,21,철근콘크리트구조,7801.348,7801.348,1,20031208,0,7341.67
997,195.12,0,0,0,10300,,,0909,0,20200413,...,,,21,철근콘크리트구조,386.94,386.94,0,20031208,0,386.94
998,9.587,0,0,0,10300,주공아파트,,0910,0,20171205,...,,20001031,32,경량철골구조,5.688,5.688,0,20021203,0,5.688
999,15.6,0,0,0,10300,주공아파트,,0910,0,20171205,...,,20001031,21,철근콘크리트구조,1205.55,1205.55,1,20021203,0,0

In [12]:
df.to_csv('건축물대장_표제부_백석동.csv', encoding='cp949', index = False)