In [1]:
import os
import pandas as pd

os.chdir(r"C:\Users\Gilseung\Google 드라이브\작업\온라인 강의 머신러닝 성능 향상을 위한 데이터 탐색과 전처리 심화\데이터\실습 데이터 - #1")

In [2]:
df = pd.read_excel("불량 기록 데이터.xlsx")

In [3]:
df.head() # 시리얼 번호 = 공정 - 제품 - 식별자

     시리얼번호 불량 여부
0  S-A-001    양품
1  S-A-002    양품
2  S-A-003    양품
3  S-A-004    양품
4  S-A-005    양품

In [4]:
df['불량 여부'].value_counts()

양품    715
불량     41
Name: 불량 여부, dtype: int64

In [6]:
# 공정이 S인 제품의 개수
df['시리얼번호'].str.contains('S').sum()

325

In [8]:
df['시리얼번호'].str.split('-', expand = True).head() # 하이픈 기준 분할

   0  1    2
0  S  A  001
1  S  A  002
2  S  A  003
3  S  A  004
4  S  A  005

In [9]:
# 분할한 데이터 붙이기
merged_df = pd.concat([df, df['시리얼번호'].str.split('-', expand = True)], axis = 1)
merged_df.head()

     시리얼번호 불량 여부  0  1    2
0  S-A-001    양품  S  A  001
1  S-A-002    양품  S  A  002
2  S-A-003    양품  S  A  003
3  S-A-004    양품  S  A  004
4  S-A-005    양품  S  A  005

In [ ]:
#merged_df.columns = ['A1', 'A2', 'A3', 'A4', 'A5']

In [10]:
# 컬럼명 변경
merged_df.rename({0:"공정", 1:"제품", 2:"식별자"}, axis = 1, inplace = True)
merged_df.head()

     시리얼번호 불량 여부 공정 제품  식별자
0  S-A-001    양품  S  A  001
1  S-A-002    양품  S  A  002
2  S-A-003    양품  S  A  003
3  S-A-004    양품  S  A  004
4  S-A-005    양품  S  A  005

In [13]:
pd.pivot_table(merged_df.loc[merged_df['불량 여부'] != '양품'], values = '불량 여부', index = '공정', columns = '제품', aggfunc = 'count')

제품   A   B
공정
S    9  12
T   12   8