In [1]:
import os
os.getcwd() # 현재 경로 확인

'C:\\Users\\user\\python_repository\\fastcampus\\파이썬을 활용한 데이터 전처리 Level UP\\소스코드'

In [2]:
os.chdir(r"C:\Users\user\Desktop\kim\패스트캠퍼스\1. 데이터 핸들링\데이터")

In [3]:
os.getcwd()

'C:\\Users\\user\\Desktop\\kim\\패스트캠퍼스\\1. 데이터 핸들링\\데이터'

In [4]:
open("sample folder/sample data.txt")

In [5]:
open("sample folder/sample folder2/sample data2.txt")

In [6]:
import pandas as pd

In [9]:
df = pd.read_csv('온라인_판매기록.csv', encoding = 'cp949')

In [11]:
df

        쇼핑몰     제품  수량     판매금액 쇼핑몰 유형
0        쿠팡  제품_16   8  1134400     쿠팡
1        쿠팡  제품_57   8   439200     쿠팡
2        쿠팡  제품_25   4   495200     쿠팡
3        쿠팡  제품_18   4   578000     쿠팡
4        쿠팡  제품_90   2    75000     쿠팡
...     ...    ...  ..      ...    ...
5810  애견아우랫  제품_41   5   696500   동물병원
5811  애견아우랫  제품_98   6   590400   동물병원
5812  애견아우랫  제품_77   5   512500   동물병원
5813  애견아우랫  제품_04   6   256200   동물병원
5814  애견아우랫  제품_39   7    72800   동물병원

[5815 rows x 5 columns]