In [2]:
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [4]:
X_train = train.drop(['ID','착과량(int)'], axis=1)
y_train = train['착과량(int)']

In [12]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

model.fit(X_train, y_train)

RandomForestRegressor()

In [13]:
pred = model.predict(test.drop(['ID'], axis=1))

In [14]:
sample_submission = pd.read_csv('./sample_submission.csv')

In [18]:
sample_submission['착과량(int)'] = pred
sample_submission.to_csv('./submit.csv', index=False)

In [19]:
sample_submission

             ID  착과량(int)
0     TEST_0000    246.69
1     TEST_0001    744.93
2     TEST_0002    150.86
3     TEST_0003    450.03
4     TEST_0004    664.29
...         ...       ...
2203  TEST_2203    760.31
2204  TEST_2204    324.49
2205  TEST_2205    356.83
2206  TEST_2206    247.32
2207  TEST_2207    130.42

[2208 rows x 2 columns]